@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-action-1 border border-transparent rounded-md shadow-sm py-2 px-4 text-base text-white font-medium hover:bg-action-2 focus:outline-none focus:ring-2 focus:ring-action-1 focus:ring-opacity-75;
  }

  .checkout-section-container {
    @apply bg-white dark:bg-black rounded p-4 border;
  }

  .checkout-section-header-active {
    @apply text-lg font-medium text-gray-900 dark:text-white;
  }
  .checkout-section-header-disabled {
    @apply text-lg font-medium text-gray-400 dark:text-neutral-400;
  }

  .btn-checkout-section {
    @apply w-full bg-action-1 border border-transparent rounded-md shadow-sm py-2 px-4 text-base text-white font-medium hover:bg-action-2;
  }
}

.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}

html {
  font-size: 62.5%;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #9ca3af;
  outline: 1px solid slategrey;
}
